* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

header {
    max-width: 1170px;
    height: 60px;
    color: rgb(69, 128, 2);
    margin: auto;
    background-color: white;
}

h1 {
    padding-top: 20px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.header_main {
    height: 50px;
    background-color: rgb(69, 128, 2) ;
    text-align: center;
}

.select_type {
    padding-top: 12px;
}

h3 {
    display: inline-block;
    color: white;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgrey;
    gap: 3rem 2rem;
    padding: 1rem 1rem;
}

.card {
    width: calc((100% / 5) - 4rem);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem 0;
}

.icon {
    font-size: 40px;
}

.d-none {
    display: none;
}
